
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    
}
body{
    min-height: 100vh;
    width: 80%;
    
    margin: auto;
}
header {
    height: 80px;
    width: 100%;
    background-color: white;
    border: 2px solid rgb(225, 219, 219);
    position: sticky;
    top: 0;                 /* REQUIRED */
    z-index: 500;  /* ABOVE slider */
    
    
    
}
.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.logo p {
  font-weight: 900;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(93, 48, 3);
  transition: 0.7s;
  cursor: pointer;
}
.logo p:hover {
  transform: scale(1.2);
}

.logo img {
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
    margin-left: 20px;
    transition: transform 0.5s ease;
}
.logo img:hover{
    transform: scale(1.2);
}
.search-buttom{
    margin: 24px ;
    transition: transform 0.5s ease;
    

}
.search-buttom:hover{
    transform: scale(1.2);
}
.search-buttom input {
    
    border-radius: 5px;
    width: 240px;
    height: 30px;
    padding: 16px 40px;
    transition: transform 0.5s ease;
    
    
}

.search-buttom i {
    position: absolute;
    margin: 8px;
    transition: transform 0.5s ease;
    
    
}

.navbar {
    margin: 24px 60px ;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

li {
    list-style: none;
}
.navbar ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: rgb(93, 48, 3);
    transition: transform 0.5s ease ;
    display: inline-block;
    
    
}

.order a i{
    position: relative;
    font-size: 20px;
}
i {
    color: rgb(93, 48, 3);    
}
.navbar ul a:hover {
    transform: scale(1.2);
    
    
}
.order .cicle {
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    margin-left: 24px;
    margin-bottom: 24px;
    
}
.container {
  position: relative;
  height: 90vh;
}


.container .bg {
   position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 15s infinite;
  z-index: 1;
  pointer-events: none;
}


.container .bg:nth-child(1) {
  background-image: url("assets/slide1.jpg");
  animation-delay: 0s;
}
.container .content {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}
    

.container .content .box {
    width: 500px;
    height: 330px;
    /* background-color: rgb(35, 76, 76); */
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    text-align: center;
    
    
}
.container .content .box h1 {
   color: #fff;
   font-weight: 700;
   font-size: 40px;
    
    
}

.container .content .box .box2{
    width: 100%;
    height: 25%;
    /* background-color: rgb(28, 137, 72); */
    color: white;
    font-size: 16px;
    text-indent: 10px;
    

}

/* From Uiverse.io by cssbuttons-io */ 
/* From Uiverse.io by cssbuttons-io */ 
button {
  --color: #070707;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 700;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}


.container .bg:nth-child(2) {
  background-image: url("assets/slide2.jpg");
  animation-delay: 3s;
}

.container .bg:nth-child(3) {
  background-image: url("assets/slide3.avif");
  animation-delay: 6s;
}

.container .bg:nth-child(4) {
  background-image: url("assets/slide4.jpg");
  animation-delay: 9s;
}

.container .bg:nth-child(5) {
  background-image: url("assets/slide5.jpg");
  animation-delay:12s;
}

/* smooth fade */
@keyframes fade {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}


.top-sell{
  width: 100%;
  overflow: hidden;
  
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.top-sell .captain-top {
  width: 100%;
  height: 10%;
  
  font-weight: 600;
}
.top-sell .captain-top h1 {
  color: rgb(93, 48, 3);
}
.top-sell .list-top-sell {
  width: 100%;
  height: 60vh;
  
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.top-sell .list-top-sell .cart-top-sell {
  width: 31%;
  height: 100%;
  margin-left:2% ;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  
}
.top-sell .list-top-sell .cart-top-sell:hover {
  transform: scale(1.1);

}
.top-sell .list-top-sell .cart-top-sell .box-img {
  width: 100%;
  height: 75%;
  
}
.top-sell .list-top-sell .cart-top-sell .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.top-sell .list-top-sell .cart-top-sell .title {
  height: 8%;
}
.top-sell .list-top-sell .cart-top-sell .title p {
  font-size: 18px;
  font-weight: 700;
  
}
.top-sell .list-top-sell .cart-top-sell .des {
  height: 15%;
}
.top-sell .list-top-sell .cart-top-sell .des p {
  font-size: 14px;
  text-indent: 5px;
}
.top-sell .list-top-sell .cart-top-sell .price p {
  color: red;
  font-weight: 400;
}
.time-open .time-des {
  width: 100%;
  height: 25vh;
  /* background-color: aqua; */
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.time-open .time-des h1 {
  margin-top: 15px ;
  color: rgb(93, 48, 3);
}

.feater {
  height: 116vh;
  width: 100%;
  margin-bottom: 180px;
  /* background-color: aqua; */
}
.feater h1 {
  color: rgb(93, 48, 3);
  margin: 20px 5px;
}
.feater .feater-top {
  height: 63%;
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.feater .feater-top .box1 {
  height: 100%;
  width: 44%;
  /* background-color: #3a0ca3; */
  margin-right: 3%;
  border-radius: 5px;
}
.feater .feater-top .box1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.feater .feater-down {
  margin-top: 2%;
  width: 100%;
  /* background-color: aquamarine; */
  height: 33%;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.feater .feater-down .box2 {
  height: 100%;
  width: 32%;
  margin-right: 2%;
  
  border-radius: 5px;
}
.feater .feater-down .box2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.find-table {
  width: 100%;
  height: 40vh;
  background-color:#f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.find-table .find-table-container {
  width: 600px;
  overflow: hidden;
  /* background-color: red; */
  padding: 5px 30px;
  display: flex;
  flex-direction: column;
}
.find-table .find-table-container .table-box1 {
  height: 50px;
  width: 100%;
  margin-bottom: 1%;
  /* background-color: beige; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.find-table .find-table-container .table-box1 .table-choose {
  width: 31%;
  height: 100%;
  /* background-color: cornflowerblue; */
  margin-right: 2%;
  display: flex;
  
}
.find-table .find-table-container .table-box1 button {
  border-radius: 0px;
  width: 180px;
}
.find-table .find-table-container .table-box1 .table-choose select {
  width: 100%;
  overflow: visible;
  padding: 5px 28px;
  outline: 0px;
  border: 0px;
  position: relative;
  

}
.find-table .find-table-container .table-box1 .table-choose .choose-icon {
  /* background-color: rgb(19, 23, 23); */
  width: 18px;
  height: 18px;
  position: absolute;
  margin-left: 6px;
  margin-top: 7px;
}
.find-table .find-table-container .table-box1 .table-choose input {
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  outline: 0px;
  border: 0px;
}
.descrip {
  overflow: hidden;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  
}
.descrip h1 {
  
  margin: 30px 0px;
  color: rgb(93, 48, 3);

}
.descrip p {
  margin: 10px 5px;
}


.order-focus {
  padding: 80px 20px;
  background: #faf8f6;
}

.order-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
  align-items: start;
}


.order-card {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

.order-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.order-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.order-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.secondary-btn {
  width: 100%;
  background: #d87b1d;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 10px ;
}


.order-form {
  background: #fff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.08);
}

.order-form h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.order-form p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.order-form label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
  color: #333;
}

.order-form input,
.order-form textarea {
  width: 100%;
  padding: 11px 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.order-form input:focus,
.order-form textarea:focus {
  outline: none;
  border-color: #d87b1d;
}


.two-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.primary-btn {
  width: 100%;
  padding-bottom: 12px;
  background: #d87b1d;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #b96717;
}

/* Responsive */
@media (max-width: 900px) {
  .order-container {
    grid-template-columns: 1fr;
  }
}

footer {
  width: 100%;
  height: 40vh;
  background-color:#f4f4f4;
}
footer .foot-top{
  width: 100%;
  height: 62%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
}
footer .foot-top .foot-box1 {
  height: 100%;
  width: 48%;
  padding: 20px;
  margin-right: 2%;
  
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
footer .foot-top .foot-box1 p {
  margin: 10px;
  color: rgb(93, 48, 3);
}
footer .foot-top .foot-box1 .foot-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 140px;
  margin-left: 200px;
  margin-top: 10px;
  
}
footer .foot-top .foot-box1 .foot-icon i {
font-size: 30px;
}
footer .foot-down{
  width: 100%;
  height: 36%;
  margin-top: 2%;
  /* background-color: burlywood; */
  display: flex;
  text-align: center;
  color: rgb(93, 48, 3);
  justify-content: center;
  align-items: center;
  
}
